/* Font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Fira Sans", serif; */


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global CSS */
.text-canter {
    text-align: center;
}

.btn {
    padding: 17px 34px;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: #006A50;
}

.btn:hover {
    color: #006A50;
    background-color: white;
    border: 1px solid #006A50;
}

.btn-m {
    padding: 13px 26px;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: #006A50;
    border: 1px solid #006A50;
    text-decoration: none;
}

.btn-m:hover {
    color: #006A50;
    background-color: white;
    border: 1px solid #006A50;
}

.heading-1 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading-2 {
    color: rgba(14, 14, 14, 0.80);
    font-family: "Fira Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading-3 {
    color: rgba(14, 14, 14, 0.80);
    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.para {
    color: rgba(14, 14, 14, 0.70);
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.space {
    margin-top: 80px;
}

body {
    font-family: "Fira Sans", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F1F1F3;
}

/* Header Style Start */

/* Nav Area style */
nav {
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 32px;
    font-weight: 700;
}

nav a {
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    color: #006A50;
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

/* Nav Done */

/* Hero Bangladesh 2.0 Start */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    background: #C6E4D6;
    padding: 80px 64px;
}

.hero a {
    text-decoration: none;
}

.hero .hero-item-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.hero-item-1 p {
    color: rgba(14, 14, 14, 0.50);
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 500;
}

.hero-item-1 h1 {
    width: 615px;
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

/* Hero Bangladesh 2.0 End */

/* Pillars of "Bangladesh 2.0" Start */

.pillars-cards {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-top: 32px;
}

.pillar-card {
    display: flex;
    width: 302px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
}

/* Pillars of "Bangladesh 2.0" End */

/* The Vision of Future */
.vision-cards {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 32px 0;
}

.vision h1 {
    margin-bottom: 24px;
}

.vision-card-1 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 0px solid #5490F5;
    background: rgba(84, 144, 245, 0.20);
}

.vision-card-2 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    border: 0px solid #09A15C;
    background: #C6E4D6;
}

.vision-card-3 {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    border: 0px solid #FFC239;
    background: #F7EBCF;
}

.vision-btn {
    padding: 11px 20px;
    border: none;
    cursor: pointer;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.vision-btn-blue {
    background: #5490F5;
    color: #FFF;
}

.vision-btn-blue:hover {
    background: #FFF;
    color: #5490F5;
}

.vision-btn-green {
    background: #09A15C;
    color: #FFF;
}

.vision-btn-green:hover {
    background: #FFF;
    color: #09A15C;
}

.vision-btn-yellow {
    background: #FFC239;
    color: #FFF;
}

.vision-btn-yellow:hover {
    background: #FFF;
    color: #FFC239;
}

/* The Vision of Future End */

/* Quiets Start */


/* Quiets End */


/* Your Opinion Matters Start */



/* Your Opinion Matters End */



/* Recent News Start */

.news-heading {
    margin-bottom: 24px;
}

.news-para {
    margin-bottom: 32px;
}

.news {
    display: flex;
    padding: 48px;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: #FFF;
    margin-top: 24px;
}

.news .img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.news-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.news-info p {
    margin-top: 12px;
}

.news-info a {
    margin-top: 32px;
}

.news-info span {
    margin-left: 12px;
}

.channel-logo {
    width: 134px;
    height: 40px;
    margin-top: 12px;
}

/* Recent News End  */


















































/* Footer */
footer {
    margin: 50px 0px;
}

footer h1 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 32px;
    font-weight: 700;
}

footer hr {
    margin: 32px auto;
    width: 1122px;
    border: 1px solid rgba(243, 39, 39, 0.1)
}

.icons {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* Footer End */